<div class="jumbotron mt-5">
    <h1 class="display-4 text-center mb-4">ComfyStream</h1>
    <p class="lead">
        ¡Bienvenido a ComfyStream!, la plataforma de conferencias online donde podrás compartir tus conocimientos y adquirir nuevos organizando o asistiendo a charlas de profesionales sobre temas tan diversos como economía, ciencia, educación, emprendimiento,
        etc., además de poder solicitar consultas privadas a estos profesionales.
    </p>
</div>

<div class="jumbotron mb-1">
    <h1 class="display-4 text-center">Nosotros</h1>
</div>

<div class="miembro-list">
    <div class="card miembro" *ngFor="let miembro of miembros">
        <img class="card-img-top" [src]="miembro.img" alt="Foto">
        <div class="card-body bg-dark" style="color: white;">
            <h6 class="card-title">{{miembro.nombre}}</h6>
            <p class="card-text">{{miembro.rol}}</p>
        </div>
    </div>
</div>