<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 navbar-custom">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="navbar-nav mr-auto mt-2 mt-lg-0">
            <a class="navbar-brand" href="#">ComfyStream</a>
        </div>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="inicio">Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a href="https://comfystream-s2.web.app/" target="_blank" class="nav-link">Web</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a href="https://github.com/ComfyStream" target="_blank" class="nav-link">Repositorio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a href="https://trello.com/b/MzNEBi5t/comfystream" target="_blank" class="nav-link">Tareas</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="contacto">Contacto</a>
            </li>
        </ul>
    </div>
</nav>