<form (ngSubmit)="enviar(form)" #form="ngForm">
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="datos.email" required [class.is-invalid]="email.invalid && email.touched">
        <small *ngIf="email.invalid && email.touched" class="form-text text-danger">Campo requerido</small>
    </div>
    <div class="form-group">
        <label>Asunto</label>
        <input type="text" class="form-control" name="asunto" #asunto="ngModel" [(ngModel)]="datos.asunto" required [class.is-invalid]="asunto.invalid && asunto.touched">
        <small *ngIf="asunto.invalid && asunto.touched" class="form-text text-danger">Campo requerido</small>
    </div>
    <div class="form-group">
        <label>Cuerpo</label>
        <textarea cols="30" rows="10" class="form-control" name="cuerpo" #cuerpo="ngModel" [(ngModel)]="datos.cuerpo" required [class.is-invalid]="cuerpo.invalid && cuerpo.touched"></textarea>
        <small *ngIf="cuerpo.invalid && cuerpo.touched" class="form-text text-danger">Campo requerido</small>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-dark btn-block">Enviar</button>
    </div>
</form>